
html {
    color: #F7F6F2;
  }
  
  body {
    background-color: #F7F6F2 !important;
  
  }
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-hea
  input, textarea{
    background-color:#666;
    color: #FFF;
  }
  
  .App-header {
    background-color: #EEEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: FFE3D8;
  }
  
  .App-link {
    color: #FFE3D8;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  